.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    text-align: center;
}

.element {
    border: 1px solid black;
    padding: 15px;
    width: 400px;
}

.current-time {
    font-size: 48px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
}

.main-title {
    font-size: 22px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
}